@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
//  || VARIABLES
// ------- //
$font-family: 'Outfit', sans-serif;
$size-paragraph: 18px;
// PRIMARY COLORS  //
$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Cyan-hover: rgba(0, 255, 247, 0.473);
// SECONDARY  COLORS //
$main-dark-blue: hsl(217, 54%, 11%); //(main BG)
$bg-body: hsl(224, 50%, 11%); // (body bg)
$card-dark-blue: hsl(216, 50%, 16%); // (card BG)
$line-dark-blue: hsl(215, 32%, 27%); //  (line)
$title-white: hsl(0, 0%, 100%);
